@using Microsoft.AspNetCore.Components.Web
@model IEnumerable<Feedback>


@{
    int currentPage = int.Parse(ViewData["pageNumber"].ToString());
    int maxPages = Model.Count() / 5;
    if (maxPages * 5 < Model.Count())
        maxPages++;

    List<Feedback> feedbacks =  Model.Take(currentPage * 5).ToList();        
}   

<div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Оценка
                </th>
                <th>
                    Что понравилось
                </th>
                <th>
                    Дата создания
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in feedbacks)
            {
                <tr>
                    <td width="50%">
                        @item.Mark
                    </td>
                    <td width="30%">
                        @item.Posivite.Substring(0,item.Posivite.Length>30?30:item.Posivite.Length)...
                    </td>
                    <td width="10%">
                        @item.CreateDate.ToString("dd-MM-yyyy")
                    </td>
                    <td width="10%">
                        <a id="btn-record" asp-controller="Feedbacks" asp-action="Detailed" asp-route-Id="@(item.Id)" class="btn btn-outline-primary" style="width:100%">
                            Подробнее
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (currentPage != maxPages)
    {
        <a id="btn-record" asp-action="Index" asp-route-pageNumber="@(currentPage+=1)" class="btn btn-outline-primary" style="width:100%">
            Еще записи
        </a>
    }
</div>